<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="static/homeStyle.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>

<div id="nav">
  <span class="book"><a href="/" style="padding:0px 0px 0px 0px; color:black; background:none;">BOOK</a></span>
  <span class="worm">Worm</span>
  <span class = "book"><img src ="https://images.emojiterra.com/mozilla/512px/1f41b.png" class = "wormImg" ></span>
  <div class="search">
    <form class="rad" action="/search" method="post">
      <input type="radio" name="cat" value="isbn" checked="checked"></input> ISBN
      <input type="radio" name="cat" value="title"></input> Title
      <input type="radio" name="cat" value="author"></input> Author
      <input type="radio" name="cat" value="subject"></input> Subject
      <input type="text" required class="searchbar"  name="search" placeholder="Search...">
      </input>
      <button type="submit" class="searchbtn" value="Submit">
      <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div class="menu">
    <a href="/cart">cart({{count}}) <i class="fa fa-shopping-cart"></i></a>
    <a href="/checkout">checkout</a>
    <ul>
      <div class="top">
        <li><a href="profile.html">{{user}}<i class="fa fa-sort-down"></i></a></li>
        <div class="drop">
          <li><a href="/profile">settings</a></li>
          <li><a href="/login">{{log}}</a></li>
        </div>
      </div>
    </ul>
  </div>
</div>

<div class="filler"></div>
    <div class="clearfix">
        {% for item in items:%}
            <div class="img-container">
                <a href="/b/?book={{item['isbn']}}">
                <img src ={{item['pic_url']}} width ="200" height="300" style="width:100%;max-width:200px"></a><br>{{item['title']}}<br>{{item['author']}}<br>
                <p class = price style="float:left;">{{item['price']}}</p>
            </div>
        {% endfor%}
    </div>
</div>

<script>
function checkCookie() {
    account = document.getElementById("Sign-in");
    account = account.innerHTML
    console.log(account)
    var compare = 'Logout';
    if(account == compare){
      var signInEle = document.getElementById("Sign-in");
      signInEle.href="http://jsmalls128.pythonanywhere.com/signout";
      }
}
</script>

</body>
</html>